@use '../custom' as *;
@use '../components/mixins' as *;
.navbar-toggler {
  color:$secondary;
  font-size:1.9rem;
}
.menu {
 @include gradient;
.nav-link{
  margin-top: .70rem;
  margin-right: 2rem;
}
li{
  padding: 0 0.7rem;
}

  a {
    color:$white ;
    font-weight: 600;
  }
  img{
    width: 12rem;
  }
}
.dropdown-menu{
  @include gradient;
  a{
  color: $gray-100;
  }
  .dropdown-item{
    @include gradient;

  }
}
